.detail_footer {
  display: flex;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  bottom: 0;
  background:
          #353e47;
  padding: 4px;
  border-top: 1px solid lightgray;
  -webkit-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6);
}
.detail_footer{
  position: fixed;
  left: 0;
}
.detail_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.insert_component_wrapper {
  max-width: 600px;
  position: relative;
  padding: 16px 10px 8px 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom: 1px solid rgba(83, 158, 224, 0);
  border-right: 1px solid rgba(83, 158, 224, 0);
  border-left: 1px solid rgba(83, 158, 224, 0);
  transition: all .4s ease-in-out;

  &:hover {
    border-bottom: 1px solid rgba(83, 158, 224, 0.7);
    border-right: 1px solid rgba(83, 158, 224, 0.7);
    border-left: 1px solid rgba(83, 158, 224, 0.7);

    .insert_component_wrapper-header {
      opacity: 1;
    }
  }
}
.insert_component_wrapper-header {
  background: rgba(83, 158, 224, 0.7);
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all .4s ease-in-out;
  border-radius: 2px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 4px;
  height: 16px;
  width: 100%;
}
.insert_component_wrapper-header__img {
  width: 14px;
  height: 14px;
}

