input:focus::placeholder {
  color: transparent !important;
}

.v-dialog {
  max-width: 600px !important;
  border-radius: 15px;
}

.main_img {
  border-radius: 15px;
}

.universal_interface {
  border-radius: 15px;
}
.detail_footer{
  &__save_btn{
    margin-left: auto;
  }
}


.v-menu__content {
  border-radius: 15px !important;
}

.quillWrapper {
  border-radius: 15px !important;
}

.ql-toolbar {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.ql-container {
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.rollback-vuetify-text-style{
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
}
.autocomplete_list_with_tags{
  display: grid;
  grid-template-columns: 35% 1fr;
  grid-column-gap: 1em;
  align-items: center;
  .name {
    //font-weight: bold;
  }
  .block_tags {
    font-size: 0.7em;
    margin-left: auto;
    display: inline-flex;
    flex-wrap: wrap;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
    justify-content: end;
  }
}