.universal_list{
  padding: 15px 20px!important;
  padding-left: 45px!important;
  grid-row-gap: 10px;
  font-size: 22px;
}
.questions_wrapper__item__top__title{
  position: relative;
  .activity_icon{
    position: absolute;
    left: -30px;
    top: 5px;
  }
  .copy_article_id {
    text-decoration: underline;
    cursor: pointer;
  }
}
.questions_wrapper__item{
  .questions_wrapper__item__bottom__date{
    opacity: 0;
    font-size: 14px;
  }
  &:hover{
    .questions_wrapper__item__bottom__date{
      opacity: 1;
      background-color: lightgoldenrodyellow;
    }
  }
}

.bottom_filters {
  position: fixed;
  bottom: 45px;
  ::v-deep .v-sheet {
    position: fixed;
    bottom: 0;
  }
}
.filter_modal {
  background-color: gainsboro!important;
  border-color: gainsboro!important;
  height: 70vh;
  display: flex;
  flex-direction: column;
  border-top: 3px solid darkgray;
  //background: #e3e6e9;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 206;
  overflow: hidden;
  .filter_modal_header {
    position: relative;
    height: 35px;
    width: 100%;
    &__close {
      position: absolute;
      right: 5px;
    }
  }
  .filter_modal_filters {
    flex: 1;
    height: 100%;
    width: 100%;
    padding: 0 10px 0 10px;
    overflow-y: scroll;
    &__item {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
      &__title {
        display: flex;
        color: #539ee0;
        border-bottom: 2px solid #539ee0;
        padding-bottom: 5px;
        width: 100%;
        font-weight: 600;
      }
      &__chips {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 20px;

        ::v-deep label {
          font-weight: 500;
          color: #242424;
          opacity: 0.9;
        }
        ::v-deep .v-chip .v-chip__content {
          min-width: 100% !important;
        }
        ::v-deep .v-chip.v-size--default {
          width: 100%;
          border: 2px solid lightgray !important;
        }
        ::v-deep .v-chip-group--column .v-slide-group__content {
          row-gap: 5px;
        }
      }
    }
  }
}

.v-chip.v-size--default {
  height: unset;
  min-height: 32px;
}